{% extends 'base.html' %}


{% block title %}
Обновление статьи
{% endblock %}

{% block body %}
    <div class="container">
        <h1>Обновление статьи</h1>
    </div>
    <form method="post">
        <input type="text" name="title" id="title" class="container form-control" value="{{ article.title }}"
               placeholder="Введите название статьи"><br>
        <textarea name="intro" id="intro" class="container form-control" placeholder="Введите анонс">{{ article.intro }}</textarea><br>
        <textarea name="text" id="text" class="container form-control" placeholder="Введите основной текст">{{ article.text }}</textarea><br>
        <div class="d-grid gap-2 col-6 mx-auto">
            <input type="submit" class="btn btn-success" value="Обновить">
        </div>

    </form>
{% endblock %}